

.App {
  font-family: sans-serif;
  text-align: left;
  margin-left: 6%;
  padding: 0%;
  border: 0%;
}

.logo {
  padding-top: 13%;
  padding-bottom: 5%;
}

.title {
  margin: 0%;
  padding: 0%;
  border: 0%;
  font-size: 7vw;
  font-style: italic;
  font-weight: 900;
  
}
.sub {
  margin: 0%;
  border: 0%;
  font-size: 4.8vw;
  font-style: italic;
  font-weight: 600;
  margin-top: 1%;

}

.SIbox{
  margin-top: 20%;
  margin-left: 1vw;
  padding: 0%;
  font-size: 7vw;
  font-style: italic;
  font-weight: 900;
  width: 75vw;
  height: 90vw;
  background-color: white;
  text-align: left;
  border: 2px solid #DEDEDE;
  border-radius: 2vw;
  box-shadow: -.1em .1em .5em .2vw #E3E3E3;
  
}

.SIhead {
  margin-top: 6vw;
  margin-left: 4vw;
  font-size: 5vw;
  font-weight: 900;
  font-style: normal;
  margin-bottom: 0vw;
}

.SIsub {
  margin-top: 2vw;
  margin-left: 4vw;
  font-size: 3.2vw;
  color:#93A3BB;
  font-weight: 10;
  font-style: normal;
  width: 70vw;
}

#input1 {
  border-top: 0;
  border-right:0;
  border-left: 0;
  background-color: transparent;
  width: 64vw;
  height:7vw;
  font-size: 3.5vw;
  border-width: .4vw;
  border-color: #DEDEDE;
  padding-bottom: 2vw;
  padding-left: 2vw;
  margin-top: 13vw;
  margin-left: 4vw;
}

#input2 {
  border-top: 0;
  border-right:0;
  border-left: 0;
  background-color: transparent;
  width: 64vw;
  height:7vw;
  font-size: 3.5vw;
  border-width: .4vw;
  border-color: #DEDEDE;
  padding-bottom: 2vw;
  padding-left: 2vw;
  margin-top: 5vw;
  margin-left: 4vw;
}

.SIbutton {
  width: 25vw;
  border: 0;
  height: 10vw;
  margin-left: 4vw;
  margin-top: 15vw;
  font-weight: 900;
  font-size: 3.5vw;
  border-radius: 1vw;
  background-color: #F2F8FE;
  transition-duration: .5s;
}

.termFlex {
  display: flex;
  width: 80vw;
  flex-direction: row;
  align-items: center;
  height: 10vw;
  font-size: 3vw;
  justify-content: space-between;
  margin-left: 4vw;
  margin-top: 35vw;
}

 #item {
  border: 0;
  border-left: 1px solid #DEDEDE;
  padding-left: 2.5vw;

  padding-right: 2.5vw;
  background-color: white;
 }
 #item1 {
  border: 0;
  padding-left: 2.5vw;
  padding-right: 2.5vw;

  background-color: white;
 }



